#kontak {
	padding				: 5px;
	width				: 99%;
	height				: auto;
	background-color	: white;
	position			: relative;
	margin				: auto;
	font-size			: 20px;
}
.kontak {
	background-color	: none;
	width				: 100%;
	height				: auto;
	margin-bottom		: 5px;
}
.kontak h2 {
	background-color	: maroon;
	height				: 40px;
	color				: white;
	text-align			: center;
	padding-top			: 4px;
	padding-bottom 		: 4px;
}
